@import 'theme_variables'; // variables should be before bootstrap to override variable values
@import 'package:bootstrap_sass/scss/bootstrap';

.card-columns {
  margin-left: 1.25rem;

  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
