<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" id="brandTitle" [routerLink]="RoutePaths.welcome.toUrl()" [routerLinkActive]="'active'">
        {{title}}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <navbar [localAuthenticationState]="authenticationBloc | bloc"></navbar>
</nav>
<router-outlet [routes]="Routes.all"></router-outlet>