<div *ngIf="!loggedIn()" id="login">
  <button (click)="signInWithGoogle()" id="buttonLogin" class="btn btn-outline-primary my-2 my-sm-0" type="submit">
    Login with Google
  </button>
</div>
<div *ngIf="loggedIn()" id="welcome-user">
  Welcome {{displayName}}!
  <button (click)="signOut()" id="buttonSignout" class="btn btn-outline-danger my-2 my-sm-0" type="submit">
    Sign out
  </button>
</div>