<div id="myPlantsComponent">
  <h1>My Plants</h1>
  <button id="AddNewPlantButton" class="btn btn-success mb-2" [routerLink]="newPlantUrl()">New plant</button>
  <my-plants-list [state]="myPlantsBloc | bloc"></my-plants-list>
</div>
