<div id="myPlantsListComponent" class="card-columns">
  <div class="card" *ngFor="let myPlant of myPlants">
    <a [routerLink]="myplantUrl(myPlant.id)">
      <img class="card-img-top" alt="Card image cap" src="https://via.placeholder.com/262x160">
    </a>
    <div class="card-body">
      <h5 class="card-title">
        <a [routerLink]="myplantUrl(myPlant.id)" class="plant-title-link">
          {{myPlant.name}}
        </a>
      </h5>
      <p class="card-text plant-description">{{myPlant.description}}</p>
     </div>
  </div>
</div>
