<div id="myPlantComponent">
  <h2 *ngIf="action != 'new'">{{plantMutable?.name}}</h2>
  <h2 *ngIf="action == 'new'">New plant</h2>
  <form>
    <div class="form-group row">
      <label for="inputName" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <span class="sr-only" id="srName">{{plantMutable?.name}}</span>
        <input *ngIf="plantMutable != null && action == 'view'" type="text" class="form-control-plaintext col-sm-2" readonly
               id="inputName" [(ngModel)]="plantMutable.name" required>
        <input *ngIf="loggedIn() && (action == 'edit' || action == 'new')" type="text" class="form-control col-sm-2"
               id="inputName" placeholder="Plant name" [(ngModel)]="plantMutable.name" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputDescription" class="col-form-label">Description (optional)</label>
        <span class="sr-only" id="srDescription">{{plantMutable?.description}}</span>
        <textarea *ngIf="plantMutable != null && action == 'view'" class="form-control-plaintext" readonly rows="10"
                  id="inputDescription">
          {{plantMutable.description}}
        </textarea>
        <textarea *ngIf="loggedIn() && (action == 'edit' || action == 'new')" class="form-control"
               id="inputDescription" placeholder="Plant description" rows="10" [(ngModel)]="plantMutable.description">
        </textarea>
    </div>
  </form>

  <button (click)="goBack()" class="btn btn-secondary">Back</button>
  <button *ngIf="loggedIn() && (action == 'new' || action == 'edit')" (click)="save()" type="submit"
          class="btn btn-primary">
    Save
  </button>
  <button *ngIf="loggedIn() && plantMutable != null && action == 'view'" [routerLink]="myplantEditUrl(plantMutable.id)"
          class="btn btn-primary">
    Edit
  </button>
  <button *ngIf="loggedIn() && (action == 'view' || action == 'edit')" (click)="delete()" type="submit"
          class="btn btn-danger">
    Delete
  </button>
</div>
