<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul *ngIf="isAuthenticated" class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="RoutePaths.myPlants.toUrl()"
         [routerLinkActive]="'active'">
        My Plants
      </a>
    </li>
  </ul>
  <ul *ngIf="isUnauthenticated" class="navbar-nav mr-auto">
  </ul>
  <login></login>
</div>
<router-outlet [routes]="[Routes.myPlants]"></router-outlet>